[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
attrs = "*"
Click = "*"
docutils = "*"
Flask = "*"
itsdangerous = "*"
Jinja2 = "*"
jmespath = "*"
jsonschema = "*"
Mako = "*"
MarkupSafe = "*"
mistune = "*"
pyrsistent = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
six = "*"
urllib3 = "*"
webargs = "*"
Werkzeug = "*"
selenium = "*"
axe-selenium-python = "*"

[requires]
python_version = "3.7"
